In [1]:
import sys
sys.path.append('..\\models')

import pandas as pd
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn.model_selection import KFold, StratifiedKFold
from sklearn.metrics import classification_report, confusion_matrix, ConfusionMatrixDisplay
from matplotlib import pyplot as plt
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation
import numpy as np
# from tqdm import tqdm
from tqdm.notebook import tqdm
# from tqdm.contrib.itertools import product
from itertools import product

from ID3 import ID3
#from ID3_v0 import ID3_v0
from NBC_Categorical import NBC_Categorical#, NBC_Categorical_v0
from RandomForestClf import RandomForestClf
from datasets import get_airline_dataset, get_exams_dataset, get_ecommerce_dataset

from scipy.stats import mode

from IPython.core.display import display, HTML
display(HTML("<style>.container { width:90% !important; }</style>"))

C:\Users\zuzannagorecka\AppData\Local\Temp\ipykernel_15632\2779709207.py:24: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display, HTML

In [56]:
dataset_loadDataset_valMethod = [("exams", get_exams_dataset), ("e-commerce", get_ecommerce_dataset), ("airline", get_airline_dataset)]

In [57]:
n = 100

In [74]:
for dataset_name, load_func in dataset_loadDataset_valMethod:
    X, y = load_func()
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1) 
    # 
    X_train = X_train.iloc[:n]
    y_train = y_train.iloc[:n]
    
    id3 = ID3()
    id3.fit(X_train, y_train)
    
    acc_id3 = id3.eval(X_test, y_test)
        
    rf = RandomForestClf(n_clf=8, clf_ratio=[1, 0], percent_samples=1, percent_attributes=1)
    rf.fit(X_train, y_train)
    acc_rf = rf.eval(X_test, y_test)
    
    if acc_id3 != acc_rf:
        y_pred_id3 = id3.predict(X_test)
        y_pred_rf = rf.predict(X_test)
        df = pd.DataFrame(data=[y_pred_id3.values, y_pred_rf]).T
        df.columns = ['y_pred_id3', 'y_pred_rf']
        display(df.query("y_pred_id3!=y_pred_rf"))
    
    else:
        print("ZGADZA SIĘ :)")

Accuracy: 0.20333333333333334
Accuracy: 0.24333333333333335

C:\Users\zuzannagorecka\Anaconda3\lib\site-packages\scipy\stats\_stats_py.py:110: RuntimeWarning: The input array could not be properly checked for nan values. nan values will be ignored.
  warnings.warn("The input array could not be properly "
C:\Users\zuzannagorecka\Anaconda3\lib\site-packages\scipy\stats\_stats_py.py:110: RuntimeWarning: The input array could not be properly checked for nan values. nan values will be ignored.
  warnings.warn("The input array could not be properly "

    y_pred_id3 y_pred_rf
4          4.5       3.5
5          NaN       nan
6          4.5       3.5
12         NaN       nan
13           3         2
..         ...       ...
285        4.5       3.5
287          5         3
291        NaN       nan
292          4       3.5
299        NaN       nan

[112 rows x 2 columns]

Accuracy: 0.45242424242424245

C:\Users\zuzannagorecka\Anaconda3\lib\site-packages\scipy\stats\_stats_py.py:110: RuntimeWarning: The input array could not be properly checked for nan values. nan values will be ignored.
  warnings.warn("The input array could not be properly "

Accuracy: 0.49757575757575756

C:\Users\zuzannagorecka\Anaconda3\lib\site-packages\scipy\stats\_stats_py.py:110: RuntimeWarning: The input array could not be properly checked for nan values. nan values will be ignored.
  warnings.warn("The input array could not be properly "

     y_pred_id3 y_pred_rf
6           NaN         1
8           NaN       nan
14            1       nan
16          NaN       nan
21            1         0
...         ...       ...
3286        NaN         0
3287          1       nan
3290        NaN       nan
3296        NaN         1
3298        NaN         1

[1261 rows x 2 columns]

Accuracy: 0.7280251507763378

C:\Users\zuzannagorecka\Anaconda3\lib\site-packages\scipy\stats\_stats_py.py:110: RuntimeWarning: The input array could not be properly checked for nan values. nan values will be ignored.
  warnings.warn("The input array could not be properly "

Accuracy: 0.7286988322853843

C:\Users\zuzannagorecka\Anaconda3\lib\site-packages\scipy\stats\_stats_py.py:110: RuntimeWarning: The input array could not be properly checked for nan values. nan values will be ignored.
  warnings.warn("The input array could not be properly "

                    y_pred_id3                y_pred_rf
6                          NaN  neutral or dissatisfied
8                          NaN  neutral or dissatisfied
9                          NaN                      nan
14                         NaN                      nan
30                         NaN                      nan
...                        ...                      ...
31119  neutral or dissatisfied                      nan
31123                      NaN                      nan
31145                satisfied  neutral or dissatisfied
31164                      NaN                      nan
31171                      NaN                      nan

[1665 rows x 2 columns]